# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\DELL\Documents\myProjects\DIO\Bootcamps\Code Anywhere\desenvolvimento Java\digital-innovation-one-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
